@font-face {
    font-family: "Roboto";
    src: url(fuentes/roboto/Roboto-Thin.ttf) format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: "Roboto";
    src: url(fuentes/roboto/Roboto-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url(fuentes/roboto/Roboto-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url(fuentes/roboto/Roboto-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    /*Indicar el formato de la fuente ayuda a cargar de forma óptima la fuente a los navegadores*/
    src: url(fuentes/roboto/Roboto-Black.ttf) format('truetype'); 
    font-weight: 900;
}