@font-face {
    font-family: 'PaypalOpen';
    src: url('font/PayPal/PayPalOpenTT.woff2') format('woff2'),
         url('font/PayPal/PayPalOpenTT.woff') format('woff'),
         url('font/PayPal/PayPalOpenTT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
